@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}
<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-2 control-label ">节假日</label>
            <div class="col-sm-10">
                <input id="holidayName" col="HolidayName" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">调价开始</label>
            <div class="col-sm-10">
                <input id="beginDate" col="BeginDate" type="text" class="form-control datepicker" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">开始日期</label>
            <div class="col-sm-10">
                <input id="startDate" col="StartDate" type="text" class="form-control datepicker" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">结束日期</label>
            <div class="col-sm-10">
                <input id="endDate" col="EndDate" type="text" class="form-control datepicker" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">调价结束</label>
            <div class="col-sm-10">
                <input id="overDate" col="OverDate" type="text" class="form-control datepicker" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">调价策略</label>
            <div class="col-sm-10">
                <input id="strategy" col="Strategy" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">备注</label>
            <div class="col-sm-10">
                <textarea id="remark" col="Remark" class="form-control" style="height:60px"></textarea>
            </div>
        </div>
    </form>
</div>
<script src="~/lib/moment/moment.min.js"></script>
<script type="text/javascript">
    var id = ys.request("id");
    var vStartDate = moment().startOf('month').format("YYYY-MM-DD");
    var vEndDate = moment().endOf('month').format("YYYY-MM-DD");
    $(function () {
        getForm();

        laydate.render({ elem: '#beginDate', format: 'yyyy-MM-dd', value: vStartDate });
        laydate.render({ elem: '#overDate', format: 'yyyy-MM-dd', value: vEndDate });
        laydate.render({ elem: '#startDate', format: 'yyyy-MM-dd', value: vStartDate });
        laydate.render({ elem: '#endDate', format: 'yyyy-MM-dd', value: vEndDate });

        $('#form').validate({
            rules: {
                holidayName: { required: true }
            }
        });
    });

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/HotelManage/Price/GetFormJson")' + '?id=' + id,
                type: 'get',
                success: function (obj) {
                    if (obj.Tag == 1) {
                        obj.Data.BeginDate = moment(obj.Data.BeginDate).format("YYYY-MM-DD");
                        obj.Data.OverDate = moment(obj.Data.OverDate).format("YYYY-MM-DD");
                        obj.Data.StartDate = moment(obj.Data.StartDate).format("YYYY-MM-DD");
                        obj.Data.EndDate = moment(obj.Data.EndDate).format("YYYY-MM-DD");
                        $('#form').setWebControls(obj.Data);
                    }
                }
            });
        }
        else {
            var defaultData = {};
            $('#form').setWebControls(defaultData);
        }
    }

    function saveForm(index) {
        if ($('#form').validate().form()) {
            var postData = $('#form').getWebControls({ Id: id });
            ys.ajax({
                url: '@Url.Content("~/HotelManage/Price/SaveFormJson")',
                type: 'post',
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>

