@{
    Layout = "~/Views/Shared/_Index.cshtml";
 }
<div class="container-div">
    <div class="row">
        <div class="btn-group-sm hidden-xs" id="toolbar">
            <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> 新增</a>
            <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> 修改</a>
            <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> 删除</a>
            <a id="btnMode" class="btn btn-primary" onclick="modeChange()"><i class="fa fa-exchange"></i> 切换</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<script src="~/lib/moment/moment.min.js"></script>
<script type="text/javascript">
    var _branchId = ys.getCookie("BranchId");
    var mode = 0;
    $(function () {
        initGrid();
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/HotelManage/Pricing/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            sortable: true,     
            sortStable: true,
            sortName: 'Id',  
            sortOrder: "asc",
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                {field: 'HouseName',title: '房型'},
                {
                    field: 'Shop',
                    title: '门店价',
                    formatter: function (value, row, index) {
                        if (mode == 0)
                            return value;
                        else if (mode == 1){
                            if (row.Mode == 0)
                                return value + row.Peak;
                            else if(row.Mode == 1)
                                return value * row.Peak;
                        }
                    }
                },
                {
                    field: 'Ota',
                    title: '线上价',
                    formatter: function (value, row, index) {
                        if (mode == 0)
                            return value;
                        else if (mode == 1) {
                            if (row.Mode == 0)
                                return (value + row.Peak).toFixed(0);
                            else if (row.Mode == 1)
                                return (value * row.Peak).toFixed(0);
                        }
                    }
                },
                {
                    field: 'OtaBase',
                    title: '预付底',
                    formatter: function (value, row, index) {
                        var val = 0;
                        if (mode == 0)
                            val =(row.Ota*value).toFixed(0);
                        else if (mode == 1) {
                            if (row.Mode == 0)
                                val =((row.Ota+row.Peak) * value).toFixed(0);
                            else if (row.Mode == 1)
                                val =((row.Ota * value) * row.Peak).toFixed(0);
                        }
                        var actions = [];
                            actions.push('<a href="#" style="color:red">'+val+'</a>');
                        return actions.join('');
                    }
                },
                {
                    field: 'OtaPay',
                    title: '现付价',
                    formatter: function (value, row, index) {
                        if (mode == 0)
                            return (row.Ota +value).toFixed(0);
                        else if (mode == 1) {
                            if (row.Mode == 0)
                                return (row.Ota + value + row.Peak).toFixed(0);
                            else if (row.Mode == 1)
                                return ((row.Ota + value) * row.Peak).toFixed(0);
                        }
                    }
                },
                {
                    field: 'Travel',
                    title: '合作价',
                    formatter: function (value, row, index) {
                        if (mode == 0)
                            return value;
                        else if (mode == 1) {
                            if (row.Mode == 0)
                                return (value + row.Peak).toFixed(0);
                            else if (row.Mode == 1)
                                return (value * row.Peak).toFixed(0);
                        }
                    }
                },
                {
                    field: 'Team',
                    title: '团购价',
                    formatter: function (value, row, index) {
                        if (mode == 0)
                            return value;
                        else if (mode == 1) {
                            if (row.Mode == 0)
                                return (value + row.Peak).toFixed(0);
                            else if (row.Mode == 1)
                                return (value * row.Peak).toFixed(0);
                        }
                    }
                },
                {
                    field: 'Inner'
                    , title: '内部价',
                    formatter: function (value, row, index) {
                        if (mode == 0)
                            return value;
                        else if (mode == 1) {
                            if (row.Mode == 0)
                                return (value + row.Peak).toFixed(0);
                            else if (row.Mode == 1)
                                return (value * row.Peak).toFixed(0);
                        }
                    }
                },
                {field: 'Peak',title: '旺季基数'},
                {
                    field: 'Mode',
                    title: '模式',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (value == 0)
                            actions.push('<a href="#" style="color:green">相加</a>');
                        else if (value == 1)
                            actions.push('<a href="#" style="color:red">相乘</a>');
                        return actions.join('');
                    }
                },
                { field: 'Sequence', title: '顺序', sortable: true },
                { field: 'Remark', title: '备注' },
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                queryString.BranchId = _branchId;
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $('#gridTable').bootstrapTable('getSelections');
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? '编辑' : '添加',
            content: '@Url.Content("~/HotelManage/Pricing/PricingForm")' + '?id=' + id,
            width: '768px',
            height: '550px',
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function deleteForm() {
        var selectedRow = $('#gridTable').bootstrapTable('getSelections');
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm('确认要删除选中的' + selectedRow.length + '条数据吗？', function () {
                var ids = ys.getIds(selectedRow);
                ys.ajax({
                    url: '@Url.Content("~/HotelManage/Pricing/DeleteFormJson")' + '?ids=' + ids,
                    type: 'post',
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }

    function modeChange() {
        if (mode == 0) {
            mode = 1;
            $("#btnMode").removeClass("btn-primary");
            $("#btnMode").addClass("btn-danger");
            $("#btnMode").html('<i class="fa fa-exchange"></i> 旺季');
            searchGrid();
        }
        else if(mode == 1){
            mode = 0;
            $("#btnMode").removeClass("btn-danger");
            $("#btnMode").addClass("btn-primary");
            $("#btnMode").html('<i class="fa fa-exchange"></i> 淡季');
            searchGrid();
        }
    }
</script>
